<div class="d-flex flex-column p-3 text-white h-100">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Menu Utama</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white" aria-current="page">
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="active" class="nav-link text-white">
        Produk
      </a>
    </li>
    <li>
      <a routerLink="/transactions" routerLinkActive="active" class="nav-link text-white">
        Transaksi
      </a>
    </li>
    <li>
      <a routerLink="/users" routerLinkActive="active" class="nav-link text-white">
        Users
      </a>
    </li>
  </ul>
</div>